.send_points_container_mini_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.send_points_container_mini_form h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.send_points_container_mini_form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: none;
  font-weight: 900;
  outline: none;
  background-color: transparent;
  border: 0.1rem solid #fff;
  color: #fff;
}

.send_points_container_mini_form input::placeholder {
  color: #fff;
}

.send_points_container_mini_form button {
  width: 100%;
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
