.guess_container {
  display: grid;
  justify-items: center;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  height: calc(100vh - 5rem);
  padding: 1rem;
  background-image: url("https://i.pinimg.com/originals/81/64/7e/81647eb1d13c460eb5d239ec09cdca69.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.guess_container_header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100%;
}

.guess_container_header h1 {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

.guess_container_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

.guess_container_form input {
  padding: 1rem;
  width: 100%;
  font-size: 1.5rem;
  outline: none;
  border: 0.1rem solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.guess_container_form button {
  padding: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.guess_container_score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.guess_container_score h3 {
  text-align: center;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  margin: 1rem;
}

.section_btn_start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

.btn-start-game {
  width: 15rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
  border: none;
}

@media only screen and (min-width: 540px) {
  .guess_container_header h1 {
    font-size: 6rem;
  }

  .guess_container_header img {
    width: 50rem;
  }
}

@media only screen and (min-width: 768px) {
  .guess_container_header h1 {
    font-size: 9rem;
  }

  .guess_container_header img {
    width: 60rem;
  }

  .guess_container_form input {
    width: 60rem;
    font-size: 3rem;
  }

  .guess_container_form button {
    font-size: 3rem;
  }

  .guess_container_score h3 {
    font-size: 3rem;
  }
}
