.form__send__points {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  background-color: rgba(var(--black-int-color), 0.5);
  padding: 1rem;
}

.form__send__points h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--white-color);
}

.form__send__points input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  border: none;
  font-weight: 900;
  outline: none;
  background-color: transparent;
  border: 0.1rem solid var(--white-color);
  color: var(--white-color);
}

.form__send__points input::placeholder {
  color: var(--white-color);
}

.form__send__points button {
  width: 100%;
  border: none;
  padding: 1rem;
  font-weight: 900;
  cursor: pointer;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
