.send__points {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: auto;
  justify-items: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  background-image: url("https://i.pinimg.com/originals/81/64/7e/81647eb1d13c460eb5d239ec09cdca69.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.send__points__mini {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}

.send__points__mini h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--white-color);
}

.alert {
  position: fixed;
  bottom: 0;
}

.error {
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 0, 0);
  padding: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
  width: 100%;
}

.success {
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 255, 55);
  padding: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 540px) {
  .send__points__mini {
    width: 50rem;
  }
}

@media only screen and (min-width: 768px) {
  .send__points__mini h2 {
    font-size: 5rem;
  }

  .send__points {
    height: 100rem;
  }
}

@media only screen and (min-width: 1024px) {
  .send__points {
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 5rem);
  }

  .send__points__mini {
    margin-bottom: 0rem;
  }

  .send__points__mini h2 {
    font-size: 3.5rem;
    text-align: start;
  }

  .send__points__mini {
    width: 80%;
  }
}
