.start__game {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 5rem);
}

.start__game__btn {
  width: 15rem;
  padding: 1rem;
  font-size: 2rem;
  background-color: rgba(var(--black-int-color), 0.5);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
}
