.mode {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: auto;
  width: 100%;
  padding: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  padding: 1rem;
}

.mode h1 {
  font-size: 5rem;
  margin-top: 5rem;
  text-align: center;
  color: var(--white-color);
}

.mode__explain {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
  padding: 1rem;
  background-color: rgba(var(--black-int-color), 0.5);
  margin-top: 3rem;
}

.mode__explain p {
  font-size: 1.5rem;
  color: var(--white-color);
  text-align: justify;
}

.mode__explain a {
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  font-weight: 900;
  margin-top: 2rem;
  border: none;
  color: var(--white-color);
  letter-spacing: 0.2rem;
}

.mode__top {
  padding: 1rem;
}

.mode__top__list {
  padding: 1rem;
}

@media only screen and (min-width: 280px) {
  .mode__top h2 {
    font-size: 2rem;
  }

  .mode__top__list li {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 540px) {
  .mode h1 {
    font-size: 7rem;
  }
}

@media only screen and (min-width: 768px) {
  .mode h1 {
    font-size: 10rem;
  }

  .mode__explain p {
    font-size: 3rem;
  }

  .mode__explain a {
    font-size: 2.5rem;
  }

  .mode__top h2 {
    font-size: 3rem;
  }

  .mode__top__list li {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .mode {
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 5rem);
    justify-items: center;
    align-items: center;
  }

  .mode h1 {
    grid-column: 1/3;
  }

  .mode__explain {
    width: 100%;
    height: 50rem;
    margin: 0;
    padding: 5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .mode h1 {
    font-size: 10rem;
  }

  .mode__explain {
    width: 80%;
  }
}
